/* styles.css - Challenge #1 (Skeleton) */
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: aliceblue;
    color: black ;
    margin: 0;
}

.container {
    padding: auto;
    max-width: 800px;
}

.site-header h1 {
    text-align: center;
    color: rgb(255, 16, 124);
    font-weight: bold;
    font-size: 300%;
    
}

.site-header p {
    text-align: center;
    color: grey;
    font-style: italic;
}

.about {
    margin: 20px;
    line-height: 150%;
}

#mascot-image {
    display: block;
    margin:  auto;
    width: 80%;
}

.mascot-placeholder {
    width: 50%;
    text-align: center;
    margin: auto;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
}

.buy-tickets {
    margin: 10px;
    color: white;
    font-weight: bold ;
    background-color: rgb(0, 212, 0);
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgb(0, 247, 255);
}

.make-donation {
    margin: 10px;
    color: white;
    font-weight: bold ;
    background-color: rgb(0, 18, 221);
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgb(251, 0, 255);
}

.buy-tickets:hover {
    transform: translateY(-5px);
    background-color: #008416;
    cursor: pointer;
}

.make-donation:hover {
    transform: translateY(-5px);
    background-color: #002791;
    cursor: pointer;
}

.actions {
    max-width: 380px;
    margin: auto;
    text-align: center;
}

.site-footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    font-size: small;
    color: grey;
}